exports.app  = {
  port: 3001
  errorHandler: true
  session: {
    cookieSecret: ''
  }
  logger:
    type: ''
    filename: ''
}
exports.db   = {
  db_name: 'app_dev',
  username: 'root'
  password: ''
  dialect: 'mysql'
}
exports.mail = {
  service: ''
  user: ''
  password: ''
  mail_from: ''
  mail_hr: ''
  mail_pr: ''
  mail_it: ''
}