
<section>
  <h3><%= t!(actual_lang(@conn), "avaiable_langs") %></h3>
  <ul>
<%= for lang <- enabled_langs do %>
  <%= content_tag :li, class: is_active_lang(@conn, lang) do %>
    <%= link(t!(actual_lang(@conn), "langs.#{lang}"), to: actual_page_lang_path(lang, @conn))%>
  <%= end %>
<%= end %>
</ul>
</section>
